@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 :root {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #0f172a;
 }
 pre{
  padding: 12px;
    overflow-x: auto;
    font-size: small;
    color: rgb(47, 202, 202);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(32, 36, 36);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }
 .boxShadow{
   box-shadow: rgba(6, 42, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 }
 p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  
 }
 strong{
  color: #00FFF6;
 }

 #bowlG{
	position:relative;
	width:58px;
	height:58px;
	margin:auto;
}

#bowl_ringG{
	position:absolute;
	width:58px;
	height:58px;
	border:5px solid #00FFF6;
	border-radius:58px;
		-o-border-radius:58px;
		-ms-border-radius:58px;
		-webkit-border-radius:58px;
		-moz-border-radius:58px;
}

.ball_holderG{
	position:absolute;
	width:16px;
	height:58px;
	left:21px;
	top:0px;
	animation-name:ball_moveG;
		-o-animation-name:ball_moveG;
		-ms-animation-name:ball_moveG;
		-webkit-animation-name:ball_moveG;
		-moz-animation-name:ball_moveG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}

.ballG{
	position:absolute;
	left:0px;
	top:-14px;
	width:23px;
	height:23px;
	background: white;
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}



@keyframes ball_moveG{
	0%{
		transform:rotate(0deg)
	}

	100%{
		transform:rotate(360deg)
	}
}

@-o-keyframes ball_moveG{
	0%{
		-o-transform:rotate(0deg)
	}

	100%{
		-o-transform:rotate(360deg)
	}
}

@-ms-keyframes ball_moveG{
	0%{
		-ms-transform:rotate(0deg)
	}

	100%{
		-ms-transform:rotate(360deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}
}

@-moz-keyframes ball_moveG{
	0%{
		-moz-transform:rotate(0deg)
	}

	100%{
		-moz-transform:rotate(360deg)
	}
}